doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        link(rel="shortcut icon", href="/img/favicon.png")
        link(rel="stylesheet", href="/css/style.css")
        title Natours | #{title}
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        

    body
        //--------------------HEADER-----------------------
        include _header

        //----------------------------CONTENT------------------------
        //---giống RenderBody() trong asp.NET
        block content

        //--------------------------------FOOTER---------------------------
        include _footer
        script(type='module' src='/js/index.js')
       



       
       
